/* golden */
.metacolor-golden {
    background-color: #99582A;
}

body[data-theme="golden"] {
    background-color: #a27c3f;

}

.logo-golden {
    background-image: url('imagens/logo-golden.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.navbar-golden {
    background-color: #a27c3f;
    color: #FFE6A7;
}
.navbar-golden .navbar-brand,
.navbar-golden .navbar-nav .nav-link,
.navbar-golden .navbar-toggler-icon {
    color: #FFE6A7;
}
.navbar-golden .navbar-brand:hover,
.navbar-golden .navbar-nav .nav-link:hover,
.navbar-golden .navbar-brand:focus,
.navbar-golden .navbar-nav .nav-link:focus {
    color: #FFD700;
}

.jumbotron-golden {
    background-color: #BB9457;
    color: #3d130c;
}
.destaque-golden {
    background-color: #FFD700;
    font-family: 'Courier New', Courier, monospace; 
    color: black;
    padding: 0px 5px;
}

.main-golden {
    background: rgb(111,29,27);
    background: linear-gradient(0deg, rgba(111,29,27,1) 80%, rgba(78,20,19,1) 90%, rgba(45,11,11,1) 95%);
    color: #ffe8b4;

    background-image: url('imagens/champs.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(0.8);
}

.footer-golden {
    background-color: #502429;
    color: #ffe8b4;
}

.carta-golden {
    border-radius: 15px;
    backdrop-filter: sepia(20%);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
}




/* Coast */
.metacolor-coast {
    background-color: #5E503F;
}

body[data-theme="coast"] {
    background-color: #C6AC8F;
}

.logo-coast {
    background-image: url('imagens/logo-coast.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.navbar-coast {
    background-color: #C6AC8F;
    color: #23485a;
}
.navbar-coast .navbar-brand,
.navbar-coast .navbar-nav .nav-link,
.navbar-coast .navbar-toggler-icon {
    color: #23485a;
}
.navbar-coast .navbar-brand:hover,
.navbar-coast .navbar-nav .nav-link:hover,
.navbar-coast .navbar-brand:focus,
.navbar-coast .navbar-nav .nav-link:focus {
    color: #1a75a0;
}

.jumbotron-coast {
    background: rgb(34,51,59);
    background: linear-gradient(0deg, rgba(34,51,59,1) 80%, rgba(30,45,54,1) 91%, rgba(19,32,40,1) 100%);    color: #faf1e8;
}

.destaque-coast {
    background-color: #56c7ff;
    font-family: 'Courier New', Courier, monospace; 
    color: black;
    padding: 0px 5px;

}

.main-coast {
    background: rgb(7,11,13);
    background: linear-gradient(0deg, rgba(7,11,13,1) 0%, rgba(22,35,41,1) 20%, rgba(22,35,41,1) 80%, rgba(7,11,13,1) 100%);
    color: #acdcf4;
}

.footer-coast {
    background-color: #5b4a35;
    color: #d6c4af;
}




/* Taiga */
.metacolor-taiga {
    background-color: #BC6C25;
}

body[data-theme="taiga"] {
    background-color: #283618;
    color: #17110b;
}

.logo-taiga {
    background-image: url('imagens/logo-taiga.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.navbar-taiga {
    background-color: #283618;
    color: #f1f9d7;
}
.navbar-taiga .navbar-brand,
.navbar-taiga .navbar-nav .nav-link,
.navbar-taiga .navbar-toggler-icon {
    color: #f1f9d7;
}
.navbar-taiga .navbar-brand:hover,
.navbar-taiga .navbar-nav .nav-link:hover,
.navbar-taiga .navbar-brand:focus,
.navbar-taiga .navbar-nav .nav-link:focus {
    color: #cbe575;
}

.jumbotron-taiga {
    background-color: #606C38;
    color: white;
}

.destaque-taiga {
    background-color: #d2ee75;
    font-family: 'Courier New', Courier, monospace; 
    color: black;
    padding: 0px 5px;
}

.main-taiga {
    background-image: url('imagens/taiga.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #DDA15E;
    color: #ffffff;
    text-shadow: #000000 1px 0 5px;
}

.footer-taiga {
    background-color: #BC6C25;
}


/* blur */
.blur-card {
    border-radius: 15px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.35);
    padding: 10px;
}

.card-neutro {
    border-radius: 15px;
    padding: 10px;
}


.btn-escuro {
    color: #343a40; /* Texto de cor escura */
    border-color: #343a40; /* Borda de cor escura */
    background-color: rgba(0, 0, 0, 0.15);
}

.btn-escuro:hover {
    color: #fff; /* Texto branco no hover */
    background-color: #343a40; /* Fundo escuro no hover */
    border-color: #343a40; /* Borda escura no hover */
}

.btn-escuro:focus, .btn-escuro.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5); /* Sombra de foco */
}

.btn-escuro.disabled, .btn-escuro:disabled {
    color: #343a40; /* Texto de cor escura */
    background-color: rgba(255, 255, 255, 0.2);
}