/* Tema claro */
body[data-theme="light"] {
    background-color: #ffffff;
    color: #000000;
}

/* Tema escuro */
body[data-theme="dark"] {
    background-color: #1e1e1e;
    color: #ffffff;
}

.destaque-blackwhite {
    background-color: rgb(191, 253, 147);
    font-family: 'Courier New', Courier, monospace; 
    color: black;
    padding: 0px 5px;
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo da logo */
.logo-blackwhite {
    background-image: url('imagens/logo-sem-fundo.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

/* Navbar e Jumbotron nos temas claro e escuro */
.navbar, .jumbotron {
    background-color: #f8f9fa; /* cor clara */
    color: #343a40; /* texto escuro */
}

body[data-theme="dark"] .navbar, 
body[data-theme="dark"] .jumbotron,
footer {
    background-color: #343a40; /* cor escura */
    color: #ffffff; /* texto claro */
}

.jumbotron {
    padding: 4rem 2rem;
}

/* Cards de redes sociais */
.social-card {
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.social-card:hover {
    transform: scale(1.1);
    z-index: 1;
}
.social-card:not(:hover) {
    filter: brightness(0.7);
}

/* Card com proporção 1x1 e centralização do texto */
.social-card .card {
    color: #ffffff;
    font-size: 1.2rem;
    background-size: cover;
    background-position: center;
    border: none;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}
.social-card .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Imagens de fundo para cada rede social */
.instagram-card .card {
    background-image: url('imagens/perfil-insta.jpg');
}
.linkedin-card .card {
    background-image: url('imagens/perfil-linkedin.jpg');
}
.twitch-card .card {
    background-image: url('imagens/perfil-twitch.jpg');
}
.github-card .card {
    background-image: url('imagens/perfil-github.png');
}

.modal-body {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.btn-theme {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}


.navbar-nav .nav-link:not(:focus):hover {
    color: inherit; /* Ou outra cor */
}
.navbar-nav .nav-link.active {
    color: inherit; /* Ou outra cor */
}



/* Estilos padrão para o carrossel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Cor escura para modo claro */
    border-radius: 50%;
}

.carousel-caption h5, .carousel-caption p {
    color: #fff; /* Texto claro para modo escuro */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Melhor visibilidade em imagens claras */
}

/* Estilos para tema claro */
[data-theme="light"] .carousel-control-prev-icon,
[data-theme="light"] .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Ícones escuros */
}

/* Estilos para tema escuro */
[data-theme="dark"] .carousel-control-prev-icon,
[data-theme="dark"] .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Ícones escuros */
}

[data-theme="dark"] .carousel-caption h5,
[data-theme="dark"] .carousel-caption p {
    color: #fff;
}

/* Ajustes para temas personalizados */
[data-theme="golden"] .carousel-control-prev-icon,
[data-theme="golden"] .carousel-control-next-icon,
[data-theme="coast"] .carousel-control-prev-icon,
[data-theme="coast"] .carousel-control-next-icon,
[data-theme="taiga"] .carousel-control-prev-icon,
[data-theme="taiga"] .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Escolha uma cor que contraste bem */
}

/* Cards de carossel */
.carro-card {
    transition: transform 0.3s ease, filter 0.3s ease;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.carro-card:hover {
    transform: scale(1.01);
    z-index: 1;
}
.carro-card:not(:hover) {
    filter: brightness(0.9);
}


@keyframes appear{
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.bloco {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}